*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    transition: 0.5s ease-in-out;
    font-family: "SUSE", Poppins, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.active{
    color: #b91c1c
}